{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Lab 5 - Task 1</title>
  <link rel="stylesheet" href="{% static 'bookmodule/main.css' %}">
</head>
<body>

  <a id="l1" class="linkbox" href="https://www.qu.edu.sa/" target="_blank">
    Go to QU website (open a new tab)
  </a>

  <a id="l2" class="linkbox" href="https://www.qu.edu.sa/">
    Go to QU website (open in the same page/tab)
  </a>

  <a id="l3" class="linkbox" href="/books/">
    Go to Books home (internal link)
  </a>

</body>
</html>